<ion-header>
  <ion-toolbar>
    <ion-title>Escanear Codigo QR</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <button ion-button full icon-left (click)="scanCode()" color="secondary"><ion-icon name="qr-scanner"></ion-icon>Scan Code</button>
  <ion-card *ngIf="scannedCode">
    <ion-card-content>
      Desea pagar a {{ this.nombre }} el monto de {{this.monto}} ?
    </ion-card-content>
  </ion-card>

  <ion-button class="button" (click)="consultar_saldos()">Pagar</ion-button>
  <ion-button class="button" (click)="back()">cancelar</ion-button>
</ion-content>
