<ion-header>
  <ion-toolbar>
    <div class="tittle">Escanear Codigo QR</div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="todo">
   <div class="todo__boton--generar">
  <button class="button" (click)="scanCode()">Escanear QR</button>
  <button class="button" (click)="back()">Atrás</button>
  </div>
  <div class="todo__card">
  <ion-card class="todo__card--card" *ngIf="scannedCode" >
    <ion-card-content>
      ¿ Desea pagar a {{ this.nombre }} el monto de {{this.monto | currency}} por concepto de {{this.razon}} ?
    </ion-card-content>
  </ion-card>
  </div>
  <div class="todo_botones--pagar" *ngIf="scannedCode" >
  <button class="button" id="boton_pagar" (click)="consultar_saldos()">Pagar</button>
   </div>
  </div>
</ion-content>
