<ion-header>
  <ion-toolbar>
    <div class="headercontainer">
      <div class="back">
        <ion-icon name="exit-outline" class="iconoback" (click)="cerrarsesion()"></ion-icon>
      </div>
  <div class="headertittle">
    <ion-title > Banky </ion-title>
  </div>
  <div class="headericon">
     <ion-icon class="icono"  name="rainy-outline" (click)="this.getLocation()"></ion-icon>
    </div>
  </div>
  </ion-toolbar>
 
</ion-header>

<ion-content>
  <div class="content">
<div class="tiempo">
  <p>Bienvenido {{this.name}} </p> 
  <p id="lluvia"></p>
</div>
<div class="divWeatherMain"> 
  <div class="weatherWidgetRow" style="font-size: 28px;margin-top: 5px;">{{WeatherData.temp_celcius}}°</div>
  <div class="weatherWidgetRow" style="font-size: 12px;"> {{this.day_mood}}</div>
  <div class="weatherWidgetRow" style="font-size: 10px;">Humedad: {{WeatherData.main.humidity}}%</div>
</div>
</div>
</ion-content>

<ion-tabs class="tabs">
  <ion-tab-bar slot="top" class="tab_bar">
    <ion-tab-button tab="inicio" class="tab_button">
      <ion-icon name="card-outline"></ion-icon>
      <ion-label>Corriente</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="add" class="tab_button">
      <ion-icon name="wallet-outline"></ion-icon>
      <ion-label>Ahorros</ion-label>
    </ion-tab-button>

    <ion-tab-button class="tab_button" (click)="open_options()">
      <ion-icon class="total__divlabel__tipo--icon" name="qr-code-outline"></ion-icon>
      <ion-label>Transferencias</ion-label>
    </ion-tab-button>

    <ion-tab-button class="tab_button" (click)="inscribir_cuenta()">
      <ion-icon class="total__divlabel__tipo--icon" name="person-add-outline"></ion-icon>
      <ion-label>Inscribir cuenta</ion-label>
    </ion-tab-button>

    </ion-tab-bar>
</ion-tabs>