body {
  cursor: url('http://ionicframework.com/img/finger.png'), auto;
}

.container {
  border: solid 1px black;
  font-size: 30px;
  //border-bottom-style: none;
  //border-right-style: none;
  text-emphasis: center;
  color: black;
  text-align: center;
  width: 100%;
  height: 30px;
  background-color: #419f00;
}

.row{
  width: 98%;
  margin-left: 5px;
  align-self: center;
  justify-self: center;
 // background-color: magenta;
  display: flex;
}


.etiqueta{
  font-size: 5vw;
  font-weight: bold;
}

.colid {
  margin-top: 15px;
  font-weight: bold;
  border: solid 1px black;
  border-bottom-style: none;
  border-right-style: none;
  text-emphasis: center;
  color: black;
  text-align: center;
  background-color: #419f00;
  width: 7vw;
  height: 25px;
}

.colids {
  border: solid 1px black;
  border-bottom-style: none;
  border-right-style: none;
  text-emphasis: center;
  color: black;
  text-align: center;
  background-color: #c7eb7a;;
  width: 7vw;
  font-size: 3.5vw;
}

.colfecha {
  margin-top: 15px;
  font-weight: bold;
  border: solid 1px black;
  border-bottom-style: none;
  border-right-style: none;
  text-emphasis: center;
  color: black;
  text-align: center;
  background-color: #419f00;
  width: 20vw;
  height: 25px;
}

.colfechas {
  border: solid 1px black;
  border-bottom-style: none;
  border-right-style: none;
  text-emphasis: center;
  color: black;
  text-align: center;
  background-color: #c7eb7a;
  font-size: 3.5vw;
  width: 20vw;
  
}

.colsalida {
  margin-top: 15px;
  font-weight: bold;
  border: solid 1px black;
  border-bottom-style: none;
  border-right-style: none;
  text-emphasis: center;
  color: black;
  text-align: center;
  background-color: #419f00;
  width: 20vw;
  height: 25px;
}

.colsalidas {
  border: solid 1px black;
  border-bottom-style: none;
  border-right-style: none;
  text-emphasis: center;
  color: black;
  text-align: center;
  background-color: #c7eb7a;
  font-size: 3.5vw;
  width: 20vw;
  
}

.colentrada {
  margin-top: 15px;
  font-weight: bold;
  border: solid 1px black;
  border-bottom-style: none;
  border-right-style: none;
  text-emphasis: center;
  color: black;
  text-align: center;
  background-color: #419f00;
  width: 20vw;
  height: 25px;
}

.colentradas {
  border: solid 1px black;
  border-bottom-style: none;
  border-right-style: none;
  text-emphasis: center;
  color: black;
  text-align: center;
  background-color: #c7eb7a;
  font-size: 3.5vw;
  width: 20vw;
}

.colduracion {
  margin-top: 15px;
  font-weight: bold;
  border: solid 1px black;
  border-bottom-style: none;
  border-right-style: none;
  text-emphasis: center;
  color: black;
  text-align: center;
  background-color: #419f00;
  width: 15vw;
  height: 25px;
}

.colduracions {
  border: solid 1px black;
  border-bottom-style: none;
  border-right-style: none;
  text-emphasis: center;
  color: black;
  text-align: center;
  background-color: #c7eb7a;
  font-size: 3.5vw;
  width: 15vw;
}

.coltotal {
  margin-top: 15px;
  font-weight: bold;
  border: solid 1px black;
  border-bottom-style: none;
  border-right-style: none;
  text-emphasis: center;
  color: black;
  text-align: center;
  background-color: #419f00;
  width: 15vw;
  height: 25px;
}

.coltotals {
  border: solid 1px black;
  border-bottom-style: none;
  border-right-style: none;
  text-emphasis: center;
  color: black;
  text-align: center;
  background-color: #c7eb7a;
  font-size: 3.5vw;
  width: 15vw;
}

.bot{
  font-size: 4vw;
  
  border: 3px solid black;
  border-radius: 25px;
  //box-shadow: -8px 20px #419f00;
  color: black;
  width: 100px;
  height: 30px;
  background-color: #c7eb7a;
  //position: absolute;
  //bottom: 25%;
  //left: 35%; 
 }

//-------


.tittle{
    color: black;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    //align-items: center;  //siempre van a ser del contenedor al igual que align-contect
    //display: flex;
   // background-color: #CBCBCB;
   // font-family: 'Questrial';
  }

  .lista{
      background-color: transparent;
  }


.labelid{
  //background-color: brown;
  width: 30%;
  font-size: 25px;
 }

 .botones{
   width: 100%;
   display: flex;
   justify-content: space-evenly;
   height: 50px;
   padding: 10px;
   //background-color: pink;
 }


.botones:active {
    background-color: #66bde6  ;
    box-shadow: 0 5px #666;
    transform: translateY(6px);
  }
  
  .botones:focus {
     background-color: #e3f59b; 
  }

  ion-item{
    font-size: 20px;
    color: black;
  
  }

  ion-label{
    background-color: transparent;
    text-align: center;
    font-size: 50px;
    color: black;
  }

ion-content {
    --background:#66bde6;
  }
  
  ion-header{
    height: 30vh;
    font-size: 40px;
    justify-items: center;
    align-items: center;
    //box-shadow: 0 20px #8bd3f8;
    border-bottom: 2px solid black;
  }

  ion-toolbar {
    --background: transparent;
    --ion-color-base: transparent !important;
    }

  .header{
    background-color: #8bd3f8;
    height: 50px;
  }

/*Escala de Verdes
#419f00 mas oscuro
#4eaa03
#5ab507
#66c00b
#72cb10
#89d631
#a9e159
#c7eb7a
#e3f59b
#ffffbb mas claro
*/