<ion-header class="header">
  <ion-toolbar>
    <ion-title class="tittle">Demanda de {{nombre}}</ion-title>
  </ion-toolbar>
</ion-header>
<head>
  <link href="//code.ionicframework.com/nightly/css/ionic.css" rel="stylesheet">
  <script src="//code.ionicframework.com/nightly/js/ionic.bundle.js"></script>
</head>

<ion-content>
  <div class="botones">
  <button class="bot" (click)="back()"> Volver </button>
  <!--<button class="bot" (click)="consultarviajes()"> Ver viajes </button>-->
  </div>

  <div class="container" [hidden]="cancelado">
    <label class="etiqueta">Total Carro {{ id}} : {{ this.producido | currency:'':symbol: '1.0-2' }} pesos</label>
  </div>

  <div class="row" *ngFor="let detalles of arrayordenado">
    <div >{{nombre}}</div>
    <br>
    <div >{{resumen}}</div>
    <br>
    <div >{{costo}}</div>
    <br>
    <div >{{unidad}}</div>
    <br>
    <div >{{categoria}}</div>
    <br>
    <div >{{observaciones}}</div>
    <br>
  </div>

</ion-content>
