.atencion{
    border-bottom: 2px solid black;
    text-align: center;
}

.label{
    margin-top: 20px;
    width: 200px;
    height: 70px;
    border: solid 1px black;
    //text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
   //background-color: red;
}
.p{
    width: 100%;
   // background-color: blue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

