page-home {
  .toolbar-content p {
      margin-left: 10px;
      margin-top: 100%;
  }
}

.menuheader{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #8bd3f8;;
  
}

.listamenu{
  margin-top: 20px;
  background-color: transparent;
}

.labelmenu{
  background-color: transparent;
  font-size: 20px;
  color: black;
  text-align: left;
}

.texto{
  font-size: 14px;
  justify-content: center;
  display: flex;
  justify-items: center;
  //background-color: lightblue;
  width: 100%;
  align-items: center;
  height: 25px;
  color: black;
}

#cabeza{
  width: 50vw;
  //background-color: pink;
  display: flex;
  justify-items: center;
  left: 1px;
}

.tittle{
  color: black;
  font-size: 6vw;
  text-align: center;
  //align-items: center;  //siempre van a ser del contenedor al igual que align-contect
  //display: flex;
 // background-color: #CBCBCB;
 // font-family: 'Questrial';
}

.align-header{
 // background-color: lightblue;
  display: flex;
  height: 100%;
  justify-content: space-between;
}

.icono{
  width: 100px;
}


.columna{
  //background-color: burlywood;
  display: flex;
  justify-content: center;
  align-items: center;
  //height: 35vh;
  width: 100%;
  max-height: 250px;
  //width: 50%;
  max-width: 150px;
  min-height: 220px;
}



.total{
  //background-color: red;
  width: 100%;
  margin-top: 10px;
}

.buttonpad {
  margin-top: 10px;
  display: inline-block;
  font-size: 100%; //5vw;
  text-align: center;
  text-decoration: none;
  outline: none;
  background-color: #c9e9fc;//#CDFCD8 ;// rgb(255, 153,81);
  border: 4px solid black;
  border-radius: 25px;
  box-shadow: -8px 20px #409dc4;
  width: 100%;
  height: 80%; //100vh o 100vw wiewheight o viewwidth
  color: black;
  max-width: 150px;
  justify-content: center;
  //#ff9951
  //#DADADA
}

.circulo {
  width: 100%;
  height: 10%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 40%;
  border: 1px solid black;
  background: #5cb85c;
  justify-self: center;
  align-self: center;
  position: relative;
  bottom: -20%
}



.buttonpad:active {
  background-color: #66bde6  ;
  box-shadow: 0 5px #666;
  transform: translateY(6px);
}

.buttonpad:focus {
   background-color: #e3f59b; 
}


#header{
display: flex;
justify-content: space-evenly;
align-items: center;
}


.grid{
  display: grid;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  gap: 10px;
  max-height: 900px;
  max-width: 480px;
  //overflow: scroll;
  //background-color: red;
  //grid-template-columns: 1fr 1fr;
  //grid-template-rows: 1oopx 100px;
  /*grid-column-start: 1; los numeros son el numero de linea ocn el que empieza y termina 
  grid-column-end: 3;
  grid-row-start: 1;
  grid-column: span 1;
  grid-row: span 1; //cuadrante 1
  grid-row-end: 3;
  grid-column: span 3;
*/}


.texto-encima{
  position: absolute;
  top: 60px;
  left: 40px;
  font-size: 80px;
}

.header{
  background-color: #8bd3f8;
  height: 50px;
}

/*Escala de Azules
#409dc4 mas oscuro
#4da8cf
#5ab2da
#66bde6
#72c8f1
#8bd3f8
#abdefa
#c9e9fc
#e4f4fd
#ffffff mas claro
*/

/*Escala de Verdes
#419f00 mas oscuro
#4eaa03
#5ab507
#66c00b
#72cb10
#89d631
#a9e159
#c7eb7a
#e3f59b
#ffffbb mas claro
*/

ion-content {
  --background: #66bde6;// #e3f59b; 
  --ion-safe-area-top: 100px;
  overflow-y: scroll !important;
}

ion-header{
  height: 50px;
  font-size: 40px;
  justify-items: center;
  align-items: center;
  box-shadow: 0 20px #409dc4;
  border-bottom: 2px solid black;
}

ion-footer{
  border-top: 2px solid black;
  display: flex;
  height: 50px;
  font-size: 20px;
  justify-items: center;
  align-items: center;
  --background: #8bd3f8;
}

ion-toolbar {
  --background: transparent;
  --ion-color-base: transparent !important;
  }

